.c-section-posts {
  background-image: url('../images/Main.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px 20px;
  margin-top: 121px;
  border-radius: 15px;
  border: 1px solid rgb(28,28,28);
  box-shadow: 8px 10px 18px 1px rgba(6, 17, 23, 1);
  &__container {
    border-right: 1px solid rgb(28, 28, 28);
  }
  @include breakpoint(tablet) {
    margin-top: 119px;
    &__container {
      border-right: none;
    }
  }
  @include breakpoint(mobile) {
    margin-top: 97px;
  }
}
.c-post {
  border-bottom: 2px solid rgb(17, 17, 17);
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.c-bottom {
  border-bottom: 2px solid #111111;
    padding: 12px;
}
.c-title-36 {
  font-size: 36px;
  font-family: $title-font;
  color: rgb(0, 161, 254);
  line-height: 1;
  margin-bottom: 12px;
  @include breakpoint(smMobile) {
    font-size: 30px;
  }
}
.c-aside-title {
    font-size: 18px;
    font-family: $title-font;
    font-weight: normal;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.3;
    margin-bottom: 7px;
}
.c-date {
  font-family: $par-font;
  font-size: 11px;
  color: rgb(88, 88, 88);
  line-height: 1.364;
  margin-bottom: 25px;
  &--underlined {
    color: #858484;
    text-decoration: underline;
    &:hover {
      color: rgb(0, 161, 254);
    }
  }
}
.c-text-16 {
  font-family: $par-font;
  font-size: 16px;
  color: rgb(255, 255, 255);
  line-height: 2.818;
  margin-bottom: 20px;
}
.c-text-14 {
  font-family: $par-font;
  font-size: 14px;
  color: rgb(136, 136, 136);
  line-height: 1.429;
  margin-bottom: 20px;
}
.c-img {
  width: 100%;
  max-height: 285px;
  margin-top: 15px;
  margin-bottom: 35px;
  overflow: hidden;
  border-radius: 10px;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
.c-form-btn {
  min-width: 36px;
  border-radius: 4px;
  height: 28px;
  background-color: #00a1fe;
  color: rgb(255, 255, 255);
  font-size: 11px;
  text-transform: uppercase;
  line-height: 1.9;  
}

.c-form-input {
  border-radius: 4px;
  background-color: rgb(0, 0, 0);
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.08);
  width: 100%;  
  height: 28px;
  border: none;
  font-size: 12px;
  color: rgb(85, 85, 85);  
  position: relative;
}

.c-btn {
  min-width: 130px;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  position: relative;
  color: rgb(255, 255, 255);
  text-shadow: 0.5px 0.866px 0px rgba(0, 0, 0, 0.3);
  transition-duration: 0.3s;
  &--blue {
    background-color: rgb(0, 161, 254);
  }
  &:focus {
    outline: none;
  }
  &:hover {
    transform: scale(1.1);
  }
}
