@import 'vars';
@import 'fonts';
@import 'libs';
@import 'mixins';
@import 'components';
@import 'common';

* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
ul,
ol,
li,
menu {
  margin: 0;
  padding: 0;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1280px;
  }
}

.main-body {
  background-image: url('../images/Top\ Light.png'), url('../images/background-lines.png'),
    url('../images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 15px;
  .logo {
    width: 200px;
    img {
      width: 100%;
    }
  }
  .burger {
    display: none;
    width: 20px;
    height: 20px;
    background: transparent;
    border: none;
    background-image: url('../images/menu-open.svg');
    background-size: cover;
    background-position: center;
    &--opened {
      background-image: url('../images/menu-close.svg');
    }
    &:focus {
      outline: none;
    }
    @include breakpoint(mobile) {
      display: flex;
    }
  }
  .nav {
    &__link {
      text-transform: uppercase;
      margin-left: 15px;
      text-decoration: none;
      transition: 0.2s;
      position: relative;
      &:hover {
        color: rgb(0, 161, 254);
        &::before {
          visibility: visible;
          transform: scaleX(1);
        }
      }
      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: 6px;
        left: 0;
        background-color: rgb(0, 161, 254);
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out 0s;
      }
    }
  }
  @include breakpoint(mobile) {
    .logo {
      width: 140px;
    }
    .nav {
      display: none;
      position: absolute;
      left: 0;
      top: 97px;
      width: 100%;
      height: calc(100vh - 97px);
      background-color: black;
      opacity: 0.9;
      z-index: 1;

      &__link {
        margin: 30px 0 0 0;
        font-size: 20px;
      }
      &--opened {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        animation: scroll 0.5s ease-in-out;
      }
    }

    &--opened {
      background-color: black;
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
      opacity: 0.9;
      animation: fadeIn 0.5s ease-in-out;
    }
  }
}

.aside {
  .viewers {
    
    .followers {
      display: inline-flex;
      align-items: center;
      width: 49%;
      text-decoration: none;
      &__wrapper {
        display: flex;
        flex-direction: column;
        margin-left: 8px;
      }
      &__number {
        font-size: 14px;
        color: rgb(0, 161, 254);
      }
      &__name {
        text-transform: uppercase;
        font-size: 10px;
        color: rgb(85, 85, 85);
        line-height: 2;
      }
    }
    img {
      width: 25px;
      height: 25px;
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .search-form,
  .news-form {
    padding: 20px 0;
    label {
      width: 100%;
    }
    &__input {
      padding: 0 49px 0 15px;
      font-family: $par-font;
    }    
    &__btn {
      font-family: $par-font;
      position: absolute;
      right: 15px;
      border: none;
    }
    &__wrapper {
      display: flex;
      align-items: center;
      width: 100%;
    }
  }
  .news-form__input {
    padding: 0 72px 0 15px;
  }
}

@keyframes scroll {
  0% {
    top: -500px;
  }
  100% {
    top: 97px;
  }
}

@keyframes fadeIn {
  0% {
    top: -500px;
  }
  100% {
    top: 0px;
  }
}
// Always at the end
@import 'media';
